.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  font-size: 21px;
  font-weight: 700;
  color: #6c757d;
}

mat-icon:hover{
  cursor: pointer !important;
}

.search-btn:hover{
  background-color: transparent !important;
  box-shadow: none !important;
  cursor: default;
}

.custom-badge .mat-badge-content {
  width: 21px;
  height: 21px;
  font-size: 10px;
  line-height: 22px;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity, 1));
}




