<header class="flex items-center justify-between bg-white py-5 px-4 shadow-md gap-4 w-full">
  <div class="flex items-center text-xl font-bold">
    <a routerLink="">
      <span>TECHNODE<span class="text-purple-600">.UA</span></span>
    </a>
  </div>

  <div class="ml-4">
    <button mat-button class="flex items-center bg-green-500 text-white py-2 px-4 rounded-md">
      <mat-icon>menu</mat-icon>
      <span class="ml-0">Catalog</span>
    </button>
  </div>

  <form
    class="search-container">
    <input
      matInput
      class="search-input"
      placeholder="Search for products..."
      [(ngModel)]="searchPhrase"
      name="searchPhrase"
    />
    <div class="absolute right-2 ">
      <button mat-icon-button type="submit" [routerLink]="['/products']" [queryParams]="{ searchPhrase: searchPhrase() }" queryParamsHandling="merge" class="search-btn">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </div>
  </form>

  <div class="flex items-center space-x-2">
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</header>
