<section>
  <div class="flex gap-4">
    <div class="flex flex-col gap-1 mx-auto w-3/4">
        <mat-stepper (selectionChange)="onStepChange($event)" #stepper class="bg-white border border-gray-200 shadow-sm">>
          <mat-step label="Address">
            <div id="address-element"></div>
            <div class="flex justify-between mt-5">
              <button routerLink="/home" mat-stroked-button>Continue Shopping</button>
              <button matStepperNext mat-flat-button>Next</button>
            </div>
          </mat-step>
          <mat-step label="Shipping">
            <app-delivery></app-delivery>
            <div class="flex justify-between mt-5">
              <button matStepperPrevious mat-stroked-button>Back</button>
              <button matStepperNext mat-flat-button>Next</button>
            </div>
          </mat-step>
          <mat-step label="Payment">
            <div id="payment-element"></div>
            <div class="flex justify-between mt-5">
              <button matStepperPrevious mat-stroked-button>Back</button>
              <button matStepperNext mat-flat-button>Next</button>
            </div>
          </mat-step>
          <mat-step label="Confirmation">Review</mat-step>
        </mat-stepper>
    </div>
    <div class="w-1/4">
      <app-order-summary />
    </div>
  </div>
</section>
