<mat-card class="shadow-lg rounded-lg border border-gray-200 bg-white hover:bg-purple-50 transition-all card">
  <a routerLink='/products/{{product?.id}}'>
    <img mat-card-image [src]="product?.pictureUrl" alt="{{ product?.name }}" class="rounded-t-lg object-cover w-full h-full pointer">
  </a>
  <mat-card-content class="p-4 mt-2">
    <a routerLink='/products/{{product?.id}}'>
      <h2 class="text-lg font-bold text-gray-800 hover:text-purple-600 transition-colors pointer">
        {{ product?.name }}
      </h2>
    </a>

    <p class="text-xl font-semibold text-purple-600 mt-3">
      {{ product?.price | currency }}
    </p>
  </mat-card-content>

  <mat-card-actions align="end" class="px-4 pb-4" >
    <button class="rounded-full bg-purple-600 text-white h-12 w-12 flex items-center justify-center hover:bg-purple-700 transition" (click)="cartService.addCartItemToCart(product!, 1)">
      <mat-icon class="text-xl">shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
