@if(specification && specification.values){
  <mat-accordion class="w-full bg-white shadow-md">
    <mat-expansion-panel
      class="[&:not(:last-child)]:border-b border-gray-300 hover:bg-purple-50 transition duration-200 rounded-none">
      <mat-expansion-panel-header
        class="!bg-transparent !p-4 flex items-center justify-between hover:!bg-purple-50 transition-colors duration-200">
        <mat-panel-title class="text-sm font-medium text-gray-800 flex-grow">
          {{ specification.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="flex flex-col space-y-2 p-4">
        @for(value of specification.values; track $index){
          <div class="flex gap-2.5 items-center">
            <input type="checkbox" class="accent-purple-500 " (change)="onCheckboxChange(value, $event)"
            />
            <span class="text-gray-700">{{ value }}</span>
          </div>
        }
      </div>
    </mat-expansion-panel>
  </mat-accordion>
}

