
.paginator{
  background-color: white !important;
}

.search-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  font-size: 20px;
  font-weight: 700;
  color: #6c757d;
}

mat-icon:hover{
  cursor: pointer;
}

.search-btn:hover{
  background-color: transparent !important;
  box-shadow: none !important;
  cursor: default;
}
