<div class="flex w-full h-screen relative">
  <div class="w-1/4 p-5 z-50">
    <app-categories/>
  </div>

  <div class="w-3/4 p-5">
    <h2 class="text-2xl font-semibold mb-5">Promotions and offers</h2>
    <div class="grid grid-cols-4 gap-6">
      <div routerLink="category/videocards" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/videocard.png" alt="Videocards" class="h-12 mb-2">
        <p class="font-semibold">Videocards</p>
      </div>
      <div routerLink="category/processors" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/cpu.png" alt="Processors" class="h-12 mb-2">
        <p class="font-semibold">Processors</p>
      </div>
      <div routerLink="category/motherboards" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/motherboard.png" alt="Motherboards" class="h-12 mb-2">
        <p class="font-semibold">Motherboards</p>
      </div>
      <div routerLink="category/ram" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/ram.png" alt="RAM" class="h-12 mb-2">
        <p class="font-semibold">RAM</p>
      </div>
      <div routerLink="category/headphones" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/headphones.png" alt="Headphones" class="h-12 mb-2">
        <p class="font-semibold">Headphones</p>
      </div>
      <div routerLink="category/microphones" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/microphone.png" alt="Microphones" class="h-12 mb-2">
        <p class="font-semibold">Microphones</p>
      </div>
      <div routerLink="category/keyboards" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/keyboard.png" alt="Keyboards" class="h-12 mb-2">
        <p class="font-semibold">Keyboards</p>
      </div>
      <div routerLink="category/mice" class="bg-purple-200 p-4 rounded shadow-md flex flex-col items-center hover:bg-purple-300 hover:text-purple-700 transition cursor-pointer">
        <img src="/assets/icons/mouse.png" alt="Mice" class="h-12 mb-2">
        <p class="font-semibold">Mice</p>
      </div>
    </div>
  </div>
</div>
