<div class="flex w-full h-screen">
  <app-categories class="p-5 z-10 w-full"/>

<!--  <div class="w-3/4 p-5">-->
<!--    <h2 class="text-2xl font-semibold mb-5">Акции и предложения</h2>-->
<!--    <div class="space-y-5">-->
<!--      <mat-card class="bg-indigo-50 shadow-md">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="text-xl font-semibold">Скидка до 30% на видеокарты!</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <p class="text-gray-700">Не упустите шанс обновить свою систему по выгодной цене.</p>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->

<!--      <mat-card class="bg-indigo-50 shadow-md">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="text-xl font-semibold">Купите процессор и получите скидку на материнскую плату!</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <p class="text-gray-700">Акция ограничена, спешите воспользоваться предложением.</p>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
</div>

